body {
    font-family: Arial, sans-serif;
    background-color: #006400;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    color: #333;
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

.btn {
    padding: 10px 20px;
    background-color: #FFD700;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: #28a745 ;
}

.btn.voltar {
    background-color: #6c757d;
}

.btn.voltar:hover {
    background-color: #5a6268;
}

.message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}